W<!DOCTYPE html>
<html>
<head>
<title>Filter Recommendation</title>
<style>
	body {
      background-color: #eeeeee !important;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 1.6em;
      margin: 0;
      padding: 0;
  }

  .navbar-default {
      background-color: #f5f5f5 !important;
  }

	#viz1 {
			margin: 10 auto;
			margin-bottom: 50px;
	}

	#viz2 {
			margin: 10 auto;
			margin-bottom: 50px;
	}

</style>
<meta>
	<!-- Scripts-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type=text/javascript src="{{url_for('static', filename='materialize.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='test.js') }}"></script>

	<!-- CSS -->

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='styles/materialize.css') }}" media="screen,projection">
	<script type=text/javascript src="{{url_for('static', filename='d3.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='d3plus.min.js') }}"></script>
</head>


<body>

<nav class="navbar navbar-default">
		<div class="container-fluid">
				<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Filter Recommendation</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">

								<li><a href="{{ url_for('visualize') }}" style="text-decoration: none">Visualize</a></li>
						</ul>
				</div>
		</div>
</nav>


<div class="container"  style="width:95%;">


	<div class="row">

      <div class="col s7">
				<img
			    id="preset-example"
			    src="static/images/test.jpg"
			    data-caman-hidpi="static/images/test.jpg"
			  >

				<a id="recommendation" class="waves-effect waves-light btn deep-purple darken-4"><i class="material-icons left">thumb_up</i>Show Recommendations</a>


			  <div id="PresetFilters" style="padding-top: 20px;">

			    <!-- <a data-preset="vintage">Vintage</a>

			    <a data-preset="lomo">Lomo</a>

			    <a data-preset="clarity">Clarity</a>

			    <a data-preset="sinCity">Sin City</a>

			    <a data-preset="sunrise">Sunrise</a>

			    <a data-preset="crossProcess">Cross Process</a>

			    <a data-preset="orangePeel">Orange Peel</a>

			    <a data-preset="love">Love</a>

			    <a data-preset="grungy">Grungy</a>

			    <a data-preset="jarques">Jarques</a>

			    <a data-preset="pinhole">Pinhole</a>

			    <a data-preset="oldBoot">Old Boot</a>

			    <a data-preset="glowingSun">Glowing Sun</a>

			    <a data-preset="hazyDays">Hazy Days</a>

			    <a data-preset="herMajesty">Her Majesty</a>

			    <a data-preset="nostalgia">Nostalgia</a>

			    <a data-preset="hemingway">Hemingway</a>

			    <a data-preset="concentrate">Concentrate</a> -->

			  </div>

      </div>
      <div class="col s5">
					<div class="card hoverable">
						<div class="card-content">
              <p>Filter distribution based on period of the day.</p>
            </div>
            <div class="card-image">
              <div id="viz1" style="height: 250px"></div>
            </div>
          </div>

					<div class="card hoverable">
						<div class="card-content">
              <p>Filter distribution based on season of the year.</p>
            </div>
            <div class="card-image">
              <div id="viz2" style="height: 250px"></div>
            </div>
          </div>
    </div>


</div>


<script type="text/javascript">


$(document).ready(function(){

$('#recommendation').click(function() {
$.ajax({
		url: '/recommend',
		// data: $('form').serialize(),
		// type: 'POST',
		success: function(response) {
				var parsed_data = JSON.parse(response);
				console.log(parsed_data.suggestions);
				var html = '';
				$.each(parsed_data.suggestions, function(key, value){
								html += '<a data-preset="'+value+'">'+value+'</a>';
						});
				$('#PresetFilters').append(html);

		},
		error: function(error) {
				console.log(error);
		}
});

});

});


		d3.json('./static/preprocessed.json', function(error, json) {
                if (error)  return console.warn(error);
            fil=json;
            console.log(fil)
			format = new Array();
			for (var d in fil) {
					format.push({"name": d, "value": +fil[d].value});
			};
			
			
			d3plus.viz()
					.container("#viz")
					.data(format)
					.type("bar")
					.id("name")
					.x("name")
					.y("value")
					.draw()

			dayFormat = new Array();
			for (var d in fil) {
			if (d == "Clarendon" || d == "Ludwig" || d == "Juno" || d == "Lark" || d == "Amaro" || d == "Valencia" || d == "Lo-fi"){
//                console.log(d , +fil[d].value, +fil[d].morning, +fil[d].afternoon, +fil[d].evening, +fil[d].night);

					dayFormat.push({"Period of Day" : "Afternoon"  ,"name": d, "No of images": +fil[d].afternoon});
					dayFormat.push({"Period of Day" : "Evening"  ,"name": d, "No of images": +fil[d].evening});
					dayFormat.push({"Period of Day" : "Morning" ,"name": d, "No of images": +fil[d].morning});
					dayFormat.push({"Period of Day" : "Night"  ,"name": d, "No of images": +fil[d].night});
					}
			};


			var visualization = d3plus.viz()
					.container("#viz1")
					.data(dayFormat)
					.type("bar")
					.id("name")
					.y("No of images")
					.x("Period of Day")
					.draw()

			 seasonFormat = new Array();
			for (var d in fil) {
			if (d == "Clarendon" || d == "Ludwig" || d == "Juno" || d == "Lark" || d == "Amaro" || d == "Valencia" || d == "Lo-fi"){
					console.log(d , +fil[d].value, +fil[d].fall, +fil[d].spring, +fil[d].summer, +fil[d].winter);

					seasonFormat.push({"Period of Year" : "Fall"  ,"name": d, "No of images": +fil[d].fall});
					seasonFormat.push({"Period of Year" : "Spring"  ,"name": d, "No of images": +fil[d].spring});
					seasonFormat.push({"Period of Year" : "Summer" ,"name": d, "No of images": +fil[d].summer});
					seasonFormat.push({"Period of Year" : "Winter"  ,"name": d, "No of images": +fil[d].winter});
					}
			};

			var visualization = d3plus.viz()
					.container("#viz2")
					.data(seasonFormat)
					.type("bar")
					.id("name")
					// .color("name")
					// .legend({"size": 40})
					.y("No of images")
					.x("Period of Year")
			.draw()


	});

	function dayTime(UNIX_timestamp){
			var a = new Date(UNIX_timestamp * 1000);
					var phase = {1:4, 2:4, 3:4, 4:4, 5:1, 6:1, 7:1, 8:1, 9:1, 10:1, 11:1, 12:1, 13:2, 14:2, 15:2, 16:2, 17:2, 18:3, 19:3, 20:3, 21:4, 22:4, 23:4, 0:4};
			var hour = phase[a.getHours()];
			return hour;
	}

		 function yearTime(UNIX_timestamp){
			var a = new Date(UNIX_timestamp * 1000);
			var phase = {1:4, 2:4, 3:1, 4:1, 5:1, 6:1, 7:2, 8:2, 9:3, 10:3, 11:3, 12:4};
			var month = phase[a.getMonth()];
			return month;
	}
</script>

</body>
</html>
