<!DOCTYPE html>
<meta charset="utf-8">
<title>Q5</title>
<style>

    #viz {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #viz1 {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #viz2 {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    h3 {
        text-align: center;
    }
</style>
<script type=text/javascript src="{{url_for('static', filename='d3.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='d3plus.min.js') }}"></script>

<body>
    <h3>Filter distribution </h3>
    <div id="viz" style="position: relative; width: 900px; height: 400px;"></div>
    <h3>Filter distribution during time of day</h3>
    <div id="viz1" style="position: relative; width: 900px; height: 400px;"></div>
    <h3>Filter distribution during season of year</h3>
    <div id="viz2" style="position: relative; width: 900px; height: 400px;"></div>

    <script>
        var fil = {
            "Aden" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Amaro" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Ashby" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Brannan" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Brooklyn" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Charmes" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Clarendon" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Crema" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Dogpatch" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Earlybird" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Gingham" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Ginza" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Hefe" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Helena" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Hudson" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Inkwell" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Juno" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Kelvin" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Lark" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Lo-fi" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Ludwig" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Maven" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Mayfair" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Moon" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Nashville" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Normal" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Perpetua" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Reyes" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Rise" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Sierra" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Skyline" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Slumber" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Stinson" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Sutro" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Toaster" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Unknown" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Valencia" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Vesper" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Walden" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "Willow" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "X-Pro II" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
            "1977" : { "value" : 0 , "morning" : 0, "afternoon" :0, "evening" : 0, "night" : 0 , "summer" : 0, "spring" : 0, "fall": 0, "winter" : 0},
        }



        d3.csv("static/data/Washington.csv", function(error, data) {
            if (error) throw error;

            data.forEach(d => {


                if (d.filter != "Normal" && fil[d.filter] != null) {
                    fil[d.filter].value += 1;
                    if(dayTime(+d.createdtime) == 1)
                        fil[d.filter].morning += 1;
                    else if(dayTime(+d.createdtime) == 2)
                        fil[d.filter].afternoon += 1;
                    else if(dayTime(+d.createdtime) == 3)
                        fil[d.filter].evening += 1;
                    else if(dayTime(+d.createdtime) == 4)
                        fil[d.filter].night += 1;

                    if(yearTime(+d.createdtime) == 1)
                        fil[d.filter].spring += 1;
                    else if(yearTime(+d.createdtime) == 2)
                        fil[d.filter].summer += 1;
                    else if(yearTime(+d.createdtime) == 3)
                        fil[d.filter].fall += 1;
                    else if(yearTime(+d.createdtime) == 4)
                        fil[d.filter].winter += 1;
                }


            });

            console.log(fil);

            format = new Array();
            for (var d in fil) {
                format.push({"name": d, "value": +fil[d].value});
            };


            d3plus.viz()
                .container("#viz")
                .data(format)
                .type("bar")
                .id("name")
                .x("name")
                .y("value")
                .draw()

            dayFormat = new Array();
            for (var d in fil) {
            if (d == "Clarendon" || d == "Ludwig" || d == "Juno" || d == "Lark" || d == "Amaro" || d == "Valencia" || d == "Lo-fi"){
//                console.log(d , +fil[d].value, +fil[d].morning, +fil[d].afternoon, +fil[d].evening, +fil[d].night);

                dayFormat.push({"Period of Day" : "Afternoon"  ,"name": d, "No of images": +fil[d].afternoon});
                dayFormat.push({"Period of Day" : "Evening"  ,"name": d, "No of images": +fil[d].evening});
                dayFormat.push({"Period of Day" : "Morning" ,"name": d, "No of images": +fil[d].morning});
                dayFormat.push({"Period of Day" : "Night"  ,"name": d, "No of images": +fil[d].night});
                }
            };


            var visualization = d3plus.viz()
                .container("#viz1")
                .data(dayFormat)
                .type("bar")
                .id("name")
                .color("name")
                .legend({"size": 50})
                .y("No of images")
                .x("Period of Day")
                .draw()

             seasonFormat = new Array();
            for (var d in fil) {
            if (d == "Clarendon" || d == "Ludwig" || d == "Juno" || d == "Lark" || d == "Amaro" || d == "Valencia" || d == "Lo-fi"){
                console.log(d , +fil[d].value, +fil[d].fall, +fil[d].spring, +fil[d].summer, +fil[d].winter);

                seasonFormat.push({"Period of Year" : "Fall"  ,"name": d, "No of images": +fil[d].fall});
                seasonFormat.push({"Period of Year" : "Spring"  ,"name": d, "No of images": +fil[d].spring});
                seasonFormat.push({"Period of Year" : "Summer" ,"name": d, "No of images": +fil[d].summer});
                seasonFormat.push({"Period of Year" : "Winter"  ,"name": d, "No of images": +fil[d].winter});
                }
            };

            var visualization = d3plus.viz()
                .container("#viz2")
                .data(seasonFormat)
                .type("bar")
                .id("name")
                .color("name")
                .legend({"size": 50})
                .y("No of images")
                .x("Period of Year")
            .draw()


        });

        function dayTime(UNIX_timestamp){
            var a = new Date(UNIX_timestamp * 1000);
                var phase = {1:4, 2:4, 3:4, 4:4, 5:1, 6:1, 7:1, 8:1, 9:1, 10:1, 11:1, 12:1, 13:2, 14:2, 15:2, 16:2, 17:2, 18:3, 19:3, 20:3, 21:4, 22:4, 23:4, 0:4};
            var hour = phase[a.getHours()];
            return hour;
        }

           function yearTime(UNIX_timestamp){
            var a = new Date(UNIX_timestamp * 1000);
            var phase = {1:4, 2:4, 3:1, 4:1, 5:1, 6:1, 7:2, 8:2, 9:3, 10:3, 11:3, 12:4};
            var month = phase[a.getMonth()];
            return month;
        }
    </script>
